{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}

    <!--top slide-->
    <div id="carouselExampleSlidesOnly" class="carousel slide my-4" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://source.unsplash.com/1600x600/?icecream" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://source.unsplash.com/1600x600/?icecream" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://source.unsplash.com/1600x600/?icecream" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>

    <p>
        <h3 style="text-align: center;">This business plan details a franchise ice cream shop located in a California shopping center. Fran's Ice
        anticipates continued success due to its superb location, diverse menu, and well-known quality product.
    </h3>
    </p>
    
    <h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; text-align: center; color: chocolate;">INTRODUCTION</h1>
    <p style="margin-left: 2cm;margin-right: 2cm; color: darkgray;">
    The purpose of this business plan is to outline the parameters under which the principals will pursue the
    construction, development and operation of a franchised Fran's Ice Cream Shoppe in a key location at the mall
    entrance to the food court of Davis Plaza, a successful, dominant, super regional shopping center in metropolitan
    Woodland - Sacramento.

    Davis Plaza's management company, Martin Richardson and the franchisor, the Fran's Ice Shoppe Company, Inc., are
    optimistic and enthusiastic about locating a high-volume shop within Davis Plaza.

    Martin Richardson, The Fran's Ice Shoppe Company, Inc., and the franchisees, Augustus and Cheryl Dwyer, are all
    confident that this Fran's shop will be successful among the other national stores already committed to doing
    business in Davis Plaza.

    </p>
{% endblock body %}